# Django файлы
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

/static/
/media/
/staticfiles/
/backend/media/

.env


.venv/
venv/
env/
ENV/


__pycache__/
*.py[cod]
*$py.class


.idea/
.vscode/
**/static/
**/media/
**/db.sqlite3